*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2,
h3,
h4,
h5,
p,
button {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem; /* 48px */
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h3.text-small {
  font-size: 1.5rem;
}

h3.text-tiny {
  font-size: 1.15rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-900 {
  font-weight: 900;
}

.text-green {
  color: #4f7942;
}

.text-pink {
  color: #fb8661;
}

.bg-tan {
  background-color: #f8ceab;
}

.bg-gray {
  background-color: #f4f0ec;
}

.bg-mustard {
  background-color: #ffdb58;
}

.bg-celery {
  background-color: #dce2a7;
}

.text-center {
  text-align: center;
}

/* header */

header {
  display: grid;
  grid-template: 100vh/5fr 1fr 4fr;
  height: 100vh;
}

.potted-plant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.potted-plant img {
  width: 60%;
  filter: drop-shadow(0 5px 2px #aaa);
}

nav {
  position: relative;
  padding: 1rem 0 0 1rem;
}

.menu {
  position: absolute;
  width: 100%;
  height: 65%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #4f7942;
}

.nav-link {
  position: relative;
  font-size: 1.5rem; /* 24px */
  margin: 1em 0 0 0.25em; /* 16px */
  padding: 0 0.75em 0.2em 0.75em;
  font-family: "Roboto", sans-serif;
  color: #fb8661;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #35572b;
  transition: all 300ms ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}

.leaf-icon {
  position: absolute;
  bottom: 0;
  font-size: 0rem;
  transition: all 300ms ease-in-out;
  color: #4f7942;
}

.icon-left {
  left: -0.45em;
}

.icon-right {
  right: -0.45em;
}

.nav-link:hover .leaf-icon {
  font-size: 1.25rem;
}

/* products section */

.products-list {
  width: 100%;
  max-width: 1450px;
  height: 150vh;
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  grid-gap: 0.5em;
}

.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  top: 0;
  transition: all 300ms ease-in-out;
}

.item:hover::before {
  height: 100%;
}

.item:hover .plant-description {
  height: 50%;
}

.item:hover .plant-description,
.item:hover .product-cost,
.item:hover h3 {
  z-index: 3;
  color: #fff;
}

.item:hover .add-to-cart {
  opacity: 1;
}

.product-img {
  position: absolute;
}

.item:nth-child(1) .product-img {
  height: 100%;
  right: 0;
  bottom: 0;
}

.item:nth-child(2) .product-img {
  height: 100%;
  right: 0;
  bottom: 0;
}
.item:nth-child(3) .product-img {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.item:nth-child(4) .product-img {
  height: 80%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.item:nth-child(5) .product-img {
  height: 90%;
  top: 0;
  right: 0;
}

.item:nth-child(6) .product-img {
  height: 70%;
  top: 0;
  right: 0;
}

.item:nth-child(7) .product-img {
  height: 85%;
  bottom: 0;
  right: 0;
}

.item:nth-child(8) .product-img {
  height: 100%;
  top: 0;
  left: 3rem;
}

.item:nth-child(8) .plant-description {
  right: 0;
  bottom: 2rem;
}

.item:nth-child(9) .product-img {
  height: 110%;
  right: 0;
}

.item:nth-child(10) .product-img {
  height: 95%;
  right: 0;
}

.plant-description {
  position: absolute;
  bottom: 1em;
  padding: 0 2em;
  height: 30%;
  transition: all 300ms ease-in-out;
}

h3 {
  font-weight: 500;
}

.bio-name {
  font-style: italic;
  font-size: 1rem;
  margin: 0.1em 0 1em 0;
}

.bio-name.text-small {
  font-size: 0.85rem;
}

.bio-name.text-tiny {
  font-size: 0.65rem;
}

.product-cost {
  font-size: 1.25rem;
  font-weight: 500;
}

.product-cost.text-small {
  font-size: 1.15rem;
}

.product-cost.text-tiny {
  font-size: 1rem;
}

.add-to-cart {
  position: relative;
  margin-top: 1em;
  background-color: #fb8661;
  border: 0.2em solid transparent;
  color: #fff;
  font-weight: 500;
  transition: all 300ms ease-in-out, opacity 100ms linear;
}

.item .add-to-cart {
  opacity: 0;
}

.add-to-cart.normal-btn {
  padding: 0.4em 0.65em;
  font-size: 1.25rem;
}

.add-to-cart.small-btn {
  padding: 0.2em 0.4em;
  font-size: 1.15rem;
}

.add-to-cart:hover {
  border: 0.2em solid #fb8661;
  background-color: transparent;
  color: #fb8661;
}

.add-to-cart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

.add-to-cart::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

.add-to-cart:hover::before,
.add-to-cart:hover::after {
  width: 100%;
}

.item:nth-child(1) {
  grid-column: 1/6;
  grid-row: 1/7;
}

.item:nth-child(2) {
  grid-column: 6/9;
  grid-row: 1/4;
}

.item:nth-child(3) {
  grid-column: 9/-1;
  grid-row: 1/7;
}

.item:nth-child(4) {
  grid-column: 1/3;
  grid-row: 7/10;
}

.item:nth-child(5) {
  grid-column: 3/6;
  grid-row: 7/10;
}

.item:nth-child(6) {
  grid-column: 6/9;
  grid-row: 4/10;
}

.item:nth-child(7) {
  grid-column: 9/-1;
  grid-row: 7/10;
}

.item:nth-child(8) {
  grid-column: 1/5;
  grid-row: 10/-1;
}

.item:nth-child(9) {
  grid-column: 5/10;
  grid-row: 10/-1;
}

.item:nth-child(10) {
  grid-column: 10/-1;
  grid-row: 10/-1;
}

/* carousel  */

.caraousel {
  overflow: hidden;
}

.carousel-container {
  width: 2400px;
  height: 80vh;
  display: flex;
  align-items: end;
  padding-bottom: 2.5em;
}

.carousel-item.active {
  width: 550px;
  height: 600px;
}

.carousel-item {
  width: calc(2400px / 8);
  height: 350px;
  background-image: linear-gradient(
    transparent 30%,
    #fafafa 30%,
    #fafafa 92%,
    transparent 92%
  );
  margin: 0 1em;
  position: relative;
  filter: drop-shadow(0 1px 1px #a8a4a4);
  transition: all 1000ms ease-in;
}

.carousel-img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0 6px 3px #aaa);
}

.carousel-plant-description {
  position: absolute;
  right: 0;
  bottom: 0;
}

.carousel-plant-description h3.normal {
  font-size: 1.75rem;
}

.carousel-plant-description .bio-name.normal {
  font-size: 1rem;
}

.carousel-plant-description h3.small {
  font-size: 1.2rem;
}

.carousel-plant-description .bio-name.small {
  font-size: 0.85rem;
}

.carousel-plant-description .add-to-cart.small-btn {
  padding: 0.2em 0.4em;
  font-size: 1.15rem;
  margin-top: 0.1em;
}

/*  about us section */

.about-us-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat url("/images/palm-tree-leaves.png") 0% 100% / auto 100%,
    no-repeat url("/images/palm-trees-2.png") 100% 100% / auto 100%;
}

.about-us-title {
  position: relative;
  font-size: 4rem;
  color: #35572b;
  font-weight: 700;
}

.about-us-title::before {
  content: "Go the";
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 1.5rem;
  color: #ffdb58;
  font-style: italic;
}

.about-us-description {
  width: 25%;
  margin-top: 1rem;
  color: #383735;
  text-align: center;
}

/*  contact us section */

.contact-us-section {
  height: 80vh;
  position: relative;
}

.contact-details {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 1s ease-in-out;
  z-index: 2;
}

.contact-us-title {
  font-size: 3rem;
}

.contact-details p {
  color: #292827;
}

.contact-btn,
input[type="submit"] {
  border: none;
  background-color: #35572b;
  color: #ecffdc;
  padding: 0.5em 1.25em;
  margin: 1em 0;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0 0 0 #fb8661 inset;
  transition: all 350ms ease-in-out;
}

.contact-btn:hover,
input[type="submit"]:hover {
  box-shadow: 0 0 300px #fb8661 inset;
}

.form {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

input[type="text"],
input[type="email"] {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #000;
  margin: 1.5em 0;
  padding: 0.5em;
  outline: none;
}

::placeholder {
  color: #000;
  font-size: 1rem;
}

textarea {
  background: transparent;
  border: 1.5px solid #000;
  outline: none;
  height: 12em;
}

input[type="submit"] {
  align-self: start;
  color: #ffdb58;
}

/* footer */

footer {
  height: 10vh;
  background: no-repeat url("/images/footer-plants.png") 0% 100% / auto 80%,
    no-repeat url("/images/footer-plants.png") 100% 100% / auto 80% #35572b;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 75%;
  display: grid;
  grid-template: 50%/ 7fr 1fr 1fr;
  color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* footer */

  footer {
    height: 10vh;
    background: no-repeat url("/images/footer-plants.png") 0% 100% / auto 60%,
      no-repeat url("/images/footer-plants.png") 100% 100% / auto 60% #35572b;
    padding: 1em;
    align-items: start;
  }

  .footer-content {
    width: 80%;
    display: grid;
    grid-template: 50%/ 3fr 1fr 1fr;
    color: white;
    font-size: 1rem;
  }

  /* contact us */

  form {
    width: 80%;
  }

  input[type="text"],
  input[type="email"] {
    margin: 1em 0;
    padding: 0.25em;
  }

  /* about us */

  .about-us-section {
    background: no-repeat url("/images/palm-tree-leaves.png") 0% 100% / 65% 65%,
      no-repeat url("/images/palm-trees-2.png") 100% 100% / 65% 65%;
  }

  .about-us-description {
    width: 50%;
    font-size: 1.25rem;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  /* header */

  header {
    display: grid;
    grid-template: 250px auto/1fr 2fr;
    height: 100vh;
  }

  .header-img {
    grid-column: 1/-1;
  }

  .potted-plant {
    background: #ecffdc;
  }

  .potted-plant img {
    width: 80%;
  }

  /* footer */

  footer {
    height: 10vh;
    background: no-repeat url("/images/footer-plants.png") 0% 100% / auto 60%,
      no-repeat url("/images/footer-plants.png") 100% 100% / auto 60% #35572b;
    padding: 1em;
    align-items: start;
  }

  .footer-content {
    width: 80%;
    display: grid;
    grid-template: 50%/ 3fr 1fr 1fr;
    color: white;
    font-size: 1rem;
  }

  /* contact us */

  form {
    width: 80%;
  }

  input[type="text"],
  input[type="email"] {
    margin: 0.75em 0;
    padding: 0.25em;
  }

  /* about us */

  .about-us-section {
    background: no-repeat url("/images/palm-tree-leaves.png") 0% 100% / 60% 60%,
      no-repeat url("/images/palm-trees-2.png") 100% 100% / 60% 60%;
  }

  .about-us-description {
    width: 50%;
    font-size: 1.25rem;
  }

  /* carousel */

  .carousel {
    overflow: hidden;
  }

  .carousel-container {
    width: 1600px;
    height: 80vh;
    display: flex;
    align-items: end;
    padding-bottom: 2.5em;
  }

  .carousel-item.active {
    width: 350px;
    height: 350px;
  }

  .carousel-item {
    width: calc(1600px / 8);
    height: 200px;
    background-image: linear-gradient(
      transparent 30%,
      #fafafa 30%,
      #fafafa 92%,
      transparent 92%
    );
    margin: 0 1em;
    position: relative;
    filter: drop-shadow(0 1px 1px #a8a4a4);
    transition: all 1000ms ease-in;
  }
}

@media (max-width: 424px) {
  html {
    font-size: 10px;
  }

  /* header */

  header {
    display: grid;
    grid-template: 250px auto/1fr 1fr;
    height: 100vh;
  }

  .header-img {
    grid-column: 1/-1;
  }

  .potted-plant {
    background: #ecffdc;
  }
  .potted-plant img {
    width: 90%;
  }

  /* footer */

  footer {
    height: 10vh;
    background: no-repeat url("/images/footer-plants.png") 0% 100% / auto 50%,
      no-repeat url("/images/footer-plants.png") 100% 100% / auto 50% #35572b;
    padding: 1em;
    align-items: start;
  }

  .footer-content {
    width: 100%;
    display: grid;
    grid-template: 50%/ 3fr 1fr 1fr;
    color: white;
    font-size: 0.8rem;
  }

  /* contact us */

  .contact-us-section {
    height: 70vh;
    position: relative;
  }

  form {
    width: 80%;
  }

  input[type="text"],
  input[type="email"] {
    margin: 0.75em 0;
    padding: 0.25em;
  }

  /* about us */

  .about-us-section {
    height: 50vh;
    background: no-repeat url("/images/palm-tree-leaves.png") 0% 100% / 50% 50%,
      no-repeat url("/images/palm-trees-2.png") 100% 100% / 50% 50%;
  }

  .about-us-description {
    width: 70%;
    font-size: 1.25rem;
  }

  /* carousel */

  .carousel {
    overflow: hidden;
  }

  .carousel-container {
    width: 1600px;
    height: 70vh;
    display: flex;
    align-items: end;
    padding-bottom: 2.5em;
  }

  .carousel-item.active {
    width: 350px;
    height: 350px;
  }

  .carousel-item {
    width: calc(1600px / 8);
    height: 200px;
    background-image: linear-gradient(
      transparent 30%,
      #fafafa 30%,
      #fafafa 92%,
      transparent 92%
    );
    margin: 0 1em;
    position: relative;
    filter: drop-shadow(0 1px 1px #a8a4a4);
    transition: all 1000ms ease-in;
  }

  /* hover */
  .nav-link::before,
  .leaf-icon {
    display: none;
  }

  /* products grid */

  .products-list {
    width: 100%;
    max-width: 1450px;
    height: auto;
    display: grid;
    grid-template: repeat(7, 200px) / repeat(2, 1fr);
    grid-gap: 0.5em;
  }

  .item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .item:nth-child(4) {
    grid-column: 2/-1;
    grid-row: 5/6;
  }

  .item:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 7/-1;
  }

  .item:nth-child(6) {
    grid-column: 2/-1;
    grid-row: 2/4;
  }

  .item:nth-child(7) {
    grid-column: 1/-1;
    grid-row: 6/7;
  }

  .item:nth-child(8) {
    grid-column: 1/-1;
    grid-row: 4/5;
  }

  .item:nth-child(9) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .item:nth-child(10) {
    grid-column: 1/2;
    grid-row: 7/-1;
  }

  .item:nth-child(1) .product-img {
    height: 90%;
  }

  .item:nth-child(3) .product-img {
    height: 70%;
  }

  .item:nth-child(6) .product-img {
    height: 50%;
    top: 30%;
    right: 0;
    transform: translateY(-30%);
  }

  .item:nth-child(7) .product-img {
    height: 80%;
    bottom: 0;
    right: 0;
  }

  .item:nth-child(10) .product-img {
    height: 85%;
    right: -30px;
  }
}

@media (max-width: 320px) {
  .footer-content {
    width: 100%;
    display: grid;
    grid-template: 50%/ 3fr 1fr 1fr;
    font-size: 0.8rem;
  }

  .contact-us-title {
    font-size: 2.5rem;
  }

  .about-us-title {
    font-size: 3.5rem;
  }
}
